img{
  height: 60px;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.navbar-brand{
  display: none;
}



ul a{
  margin-top: 15px;
}

#navbar_style{
  color: #1e70bf !important;
  font-weight: 600;
}

#navbar_style .navbar-brand{
  font-size: 32px;
}

#navbar_style a:visited{
  color: inherit !important;
}

#navbar_style a:link{
  color: inherit !important;
}

#navbar{
  font-size: 20px;
}


@media only screen and (max-width: 768px) {
  img{
    display: none;
  }
}
